
h1 {
    margin: 4%;
    text-align: center;
}
h2{
    margin-inline: 3%;
}

main p {
    margin: 3%;
}

video{
    margin: auto;
    max-width: 400px;
    display: block;
}

.store_hours{
    margin-block: 7%;
    margin-inline: 5%;
}

.info{
    margin-block: 7%;
    margin-inline: 5%;
}

img{
    margin-block: 10%;
    width: 80%;
    margin-inline: auto;
}

.grid_1-1, .grid_2-1{
    display: flex;
    flex-direction: column-reverse;
}


@media (min-width: 600px) {

    video{
        max-width: 600px;
        margin: 0 auto;
        display: block;
    }
    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-block: 5%;
    }

    .grid_2-1{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .info_flexbox{
        display: flex;
        flex-direction: row;
    }

    img{
        width: 100%;
        margin-inline: 5%;    
    }

    .maps{
        margin-inline: 5%;
    }

    
}



@media (min-width: 1000px) {

    .grid_1-2{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 7%;
    }

    .grid_1-2 :nth-child(1){
        grid-column: 2/3;
        align-self: center;
    }

    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .butikbillede{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid_2-1{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .grid_2-1 :nth-child(1){
        grid-column: 1/2;
        align-self: center;
    }

    .location_video, .about_us1{
        margin: auto;
        text-align: center;
    }

    video{
        max-width: 1000px;
        margin-bottom: 5%;
    }

    .find_us{
        margin-bottom: 5%;
    }

    img{
        margin-block: 0%;
        max-width: 90%;
    }

    .info_flexbox{
        display: flex;
        flex-direction: row;
    }

    .p{
        margin-inline: 5%;
    }

    .maps{
    margin-inline: -3%;
    }

    body{
        background-image: url("/content/svg_files/Artboard_ver_3.svg"), 
                            url("/content/svg_files/Artboard_ver_3.svg");
        background-size: contain, contain;
        background-repeat: no-repeat, no-repeat;
        background-position: 0 200px, 0 1200px;
    }
}