
h1 {
    margin: 4%;
    text-align: center;
}

main p {
    margin: 2%;
}


@media (min-width: 1000px) {

    .grid_1-2{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .grid_1-2 :nth-child(1){
        grid-column: 2/3;
        align-self: center;
    }

    .butikbillede{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid_2-1{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .grid_2-1 :nth-child(1){
        grid-column: 1/2;
        align-self: center;
    }

    .location_video, .about_us1{
        max-width: 600px;
        margin: auto;
        text-align: center;
    }

}