.grid_product_page {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 5%;
    margin-inline: auto;
}

.grid_product_page_imgs {
    width: 100%;
}

.grid_product_page_imgs img {
    margin-bottom: 2rem;
}

.product_info {
    position: relative;
    top: 2rem;
    align-self: flex-start;
    margin-bottom: 3rem;
}

.product_name p {
    font-size: medium;
    font-weight: 200;
    color: #686868;
}

.product_name h1 {
    font-size: xx-large;
    font-weight: 800;
    margin-top: 0rem;
    margin-bottom: 2rem;
}


/* VERSION SELECT */

.product_version_select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    row-gap: 1.6rem;
}

.product_version_select li {
    list-style: none;
    margin-right: 0.8rem;
}

.product_version_select label {
    font-size: medium;
    font-weight: 300;
    border: 1px solid #2d2d2d;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 20px;
    background: none;
    transition: all 0.2s;
}

.product_version_select label:hover {
    background: rgb(218, 218, 218);
}

.product_version_select label:active {
    background: rgb(191, 191, 191);
}


.product_version_select input {
    display: none;
}

.product_version_select input:checked + label {
    background: rgb(191, 191, 191);
}

/* PRODUCT PRICE */

.product_price {
    margin-block: 2rem;
}

.product_price h2 {
    font-size: xx-large;
    font-weight: 700;
}


/* QUANTITY PICKER */

.product_payment {
    margin-block: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.number_input_container {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.number_input_container button {
    aspect-ratio: 1/1;
    height: 100%;
    background: none;
    border: 1px solid #2d2d2d;
    border-radius: 50%;
    color: #2d2d2d;
    transition: all 0.2s;
}

.number_input_container button:hover {
    background: rgb(218, 218, 218);
}

.number_input_container button:active {
    background: rgb(191, 191, 191);
}

.number_input_container img {
    width: 70%;
    height: 70%;
    margin-inline: auto;
    margin-block: auto;
}

.quantity_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#quantity_number {
    height: fit-content;
    font-size: medium;
    font-weight: 300;
    color: #2d2d2d;
    align-self: center;
}

.product_payment > button {
    margin-inline: 1.5rem;
    background: none;
    border: 1px solid #2d2d2d;
    border-radius: 20px;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-size: medium;
    font-weight: 300;
    color: #2d2d2d;
    transition: all 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.product_payment > button:hover {
    background: rgb(218, 218, 218);
}

.product_payment > button:active {
    background: rgb(191, 191, 191);
}

.product_description {
    margin-block: 2rem;
}

.product_shipping {
    margin-block: 2rem;
}

.others_also_bought {
    margin-block: 3rem;
    margin-bottom: 5rem;
}

.others_also_bought > h2 {
    font-size: x-large;
    font-weight: 700;
    margin-block: 2rem;
}

.product_img2 {
    display: block;
    margin-bottom: 2rem;
}

.product_img1 {
    display: none;
}

.wishlist_container input {
    display: none;
}

.wishlist_button {
    margin-block: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: 1px solid #2d2d2d;
    border-radius: 40px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    transition: all 0.2s;
    width: fit-content;
    user-select: none;
}

.wishlist_button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.wishlist_button:hover {
    background: rgb(218, 218, 218);
}

.wishlist_button:active {
    background: rgb(191, 191, 191);
}

#wishlist_checkbox:checked + .wishlist_button {
    background: rgb(191, 191, 191);
}

#wishlist_checkbox:checked + .wishlist_button img {
    fill: aqua;
}

/* media query for phone size */
@media (min-width: 600px) {
    .grid_product_page {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr;
        flex-direction: row;
        grid-gap: 5%;
        margin-inline: auto;
    }
    
    .grid_product_page_imgs {
        width: 300%;
    }

    .product_info {
        position: sticky;
        top: 2rem;
        align-self: flex-start;
    }

    .others_also_bought {
        margin-block: 5rem;
    }

    .product_img1 {
        display: block;
    }

    .product_img2 {
        display: none;
    }
    

}