/* add google fonts */
@import url('https://fonts.googleapis.com/css?family=Syne:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #2d2d2d;
    font-size: medium;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

main {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}   

h1 {
    font-family: 'Syne', sans-serif;
    font-size: xx-large;
    font-weight: 800;
}

h2 {
    font-family: 'Syne', sans-serif;
    font-size: large;
    font-weight: 600;
}

p {
    font-size: medium;
    font-weight: 400;
}

.testh1 {
    margin-top: 2rem;
}

.testp {
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
}




/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 3rem;
    margin-inline: auto;
}




/* PRODUCT CARD */

.card {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
    height: 28rem;
    overflow: hidden;
    justify-content: space-between;
}

.card_imgdiv {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-style: none none solid none;
    border-color: #2d2d2d;
    border-width: 1px;
}

.card_imgdiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h2 {
    font-size: medium;
    padding-inline: 1rem;
    padding-top: 1rem;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    line-clamp: 2; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    flex-grow: 2;
}

.card p {
    padding-inline: 1rem;
    padding-block: 0.2rem;
    font-size: medium;
    font-weight: 400;
    margin-inline: 0;
    margin-block: 1rem;
}

.card button {
    background: #2d2d2d;
    color: #fff;
    border: 0;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    font-size: medium;
    font-weight: 400;
    bottom: 0;
}