/* add google fonts */
@import url('https://fonts.googleapis.com/css?family=Syne:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800');

* {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #2d2d2d;
    font-size: medium;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* font */
h1 {
    font-family: 'Syne', sans-serif;
    font-size: xx-large;
    font-weight: 700;
}

