/* Mobilesite */
.banner_store {
  display: none;
}
.flex_kategori {
  display: none;
}

/* Website */
@media (min-width: 600px) {
  main {
    margin-bottom: 10rem;
  }

  .flex_kategori {
    display: flex;
    grid-column: span 4;
    gap: 1rem;
  }

  .flex_kategori img {
    width: 200%;
  }

  .banner_store {
    display: grid;
    grid-column: span 3;
    background-image: url(/content/skz.webp);
    background-size: cover;
    text-align: center;
    align-content: center;
  }

  .banner_store a {
    font-size: 3rem;
  }

  .display_none_mobileview {
    display: block;
  }
}
