.banner_store {
  display: none;
}
.flex_kategori {
  display: none;
}

@media (min-width: 600px) {
  main {
    margin-bottom: 10rem;
  }

  .flex_kategori {
    display: flex;
    grid-column: span 4;
    gap: 1rem;
  }

  .banner_store {
    display: block;
    grid-column: span 3;
    background-image: url(/content/skz.webp);
    background-size: cover;
  }

  .display_none_mobileview {
    display: block;
  }
}
