/* Mobilesite */
.banner_store {
  display: none;
}
.flex_kategori {
  display: none;
}

.display_none_mobileview {
  display: none;
}

/* Website */
@media (min-width: 600px) {
  /* .flex_kategori {
    display: flex;
    gap: 1rem;
    border-style: solid;
    border-color: black;
  }

  .flex_kategori img {
    width: 200%;
  }*/

  .grid_kategori {
    display: grid;
    gap: 1rem;
    border-style: solid;
    border-color: black;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid_kategori img {
    grid-template-rows: repeat(3, 1fr);
  }

  .grid_kategori h2 p {
    margin: 3rem;
  }

  .black_box {
    background-color: black;
  }

  .banner_store {
    display: grid;
    grid-column: span 3;
    background-image: url(/content/skz.webp);
    background-size: cover;
    text-align: center;
    align-content: center;
  }

  .banner_store a {
    color: rgb(30, 159, 30);
    font-size: 2.5rem;
    font-weight: 750;
  }

  .display_none_mobileview {
    display: block;
  }
}
